@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$cyber-blue: #92D1F1;
$deep-blue: #200459;
$yellow: #ffdd20;
$green: #58e8a2;

html {
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Railway', sans-serif;
	width: 100%;
	background-color: $deep-blue;
	overflow-x: hidden;
}

button {
	font-family: 'Railway', sans-serif;
}

.navlinkactive {
	text-decoration: underline !important;
	text-decoration-color: $deep-blue !important;
	text-decoration-thickness: 3px !important;
	text-underline-offset: 10px !important;
	transition: text-underline-offset 400ms !important;
}
